<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cf.honeybear.haitao.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="cf.honeybear.haitao.entity.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="keepAlive" jdbcType="BIT" property="keepalive"/>
        <result column="requireAuth" jdbcType="BIT" property="requireauth"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="iconCls" jdbcType="VARCHAR" property="iconcls"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <resultMap id="Menus2" type="cf.honeybear.haitao.entity.Menu" extends="BaseResultMap">
        <collection property="children" ofType="cf.honeybear.haitao.entity.Menu">
            <id column="id2" jdbcType="INTEGER" property="id"/>
            <result column="name2" jdbcType="VARCHAR" property="name"/>
            <result column="level2" jdbcType="INTEGER" property="level"/>
            <result column="pid2" jdbcType="INTEGER" property="pid"/>
            <result column="path2" jdbcType="VARCHAR" property="path"/>
            <result column="comment2" jdbcType="VARCHAR" property="comment"/>
            <result column="keepAlive2" jdbcType="BIT" property="keepalive"/>
            <result column="requireAuth2" jdbcType="BIT" property="requireauth"/>
            <result column="enabled2" jdbcType="BIT" property="enabled"/>
            <result column="iconCls2" jdbcType="VARCHAR" property="iconcls"/>
            <result column="url" jdbcType="VARCHAR" property="url"/>
        </collection>
    </resultMap>
    <resultMap id="MenuWithRole" type="cf.honeybear.haitao.entity.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="cf.honeybear.haitao.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="rolename"/>
            <result column="rnameZh" property="roledesc"/>
        </collection>
    </resultMap>
    <resultMap id="MenuWithChildren" type="cf.honeybear.haitao.entity.Menu" extends="BaseResultMap">
        <id column="id1" property="id"/>
        <result column="name1" property="name"/>
        <collection property="children" ofType="cf.honeybear.haitao.entity.Menu">
            <id column="id2" property="id"/>
            <result column="name2" property="name"/>
            <collection property="children" ofType="cf.honeybear.haitao.entity.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getMidsByRid" resultType="java.lang.Integer">
        select mid
        from menu_role
        where rid = #{rid};
    </select>

    <!--获取一级目录根据登陆id-->
    <select id="getFirstMenusByUserId" resultMap="BaseResultMap">
        SELECT DISTINCT m2.id as pid,m2.`name` as name
        FROM menu_role r,
             menu m1,
             menu m2,
             u_role ur
        WHERE r.mid = m1.id
          AND ur.rid = r.id
          AND ur.uid = #{uid}
          AND m2.`level` = 1
    </select>
    <!--根据一级目录pid和uid获取二级菜单-->
    <select id="getChildrenMenusByUserId" resultMap="BaseResultMap">
        SELECT DISTINCT m.id AS id,m.`name` name,m.path path
        FROM menu_role r,
             menu m,
             u_role ur
        WHERE r.mid = m.id
          AND m.pid = #{pid}
          AND r.rid = ur.rid
          AND ur.uid = #{uid}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from menu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cf.honeybear.haitao.entity.Menu">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into menu (name, level, pid,
        path, comment, keepAlive,
        requireAuth, enabled, iconCls
        )
        values (#{name,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
        #{path,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{keepalive,jdbcType=BIT},
        #{requireauth,jdbcType=BIT}, #{enabled,jdbcType=BIT}, #{iconcls,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cf.honeybear.haitao.entity.Menu">
        update menu
        set name        = #{name,jdbcType=VARCHAR},
            level       = #{level,jdbcType=INTEGER},
            pid         = #{pid,jdbcType=INTEGER},
            path        = #{path,jdbcType=VARCHAR},
            comment     = #{comment,jdbcType=VARCHAR},
            keepAlive   = #{keepalive,jdbcType=BIT},
            requireAuth = #{requireauth,jdbcType=BIT},
            enabled     = #{enabled,jdbcType=BIT},
            iconCls     = #{iconcls,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id,
               name,
               level,
               pid,
               path,
               comment,
               keepAlive,
               requireAuth,
               enabled,
               iconCls
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               name,
               level,
               pid,
               path,
               comment,
               keepAlive,
               requireAuth,
               enabled,
               iconCls
        from menu
    </select>
</mapper>